<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Responsive viewport settings -->
    <title>AI Bar System</title>
    <link rel="stylesheet" href="static/styling.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    <!-- Include jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Link to external JavaScript file -->
    <script src="static/voiceScript.js"></script>

</head>
<body>
    <div class="container"> <!-- Container for centering content -->
        <form action="/process_order" method="post" class="form-style">
            <h1>Place your Order</h1>
            <div class="input-group">
                <input type="text" placeholder="e.g. Hello. Please can I order one large beer?" name="order" /> <!-- Order input field -->
            </div>
            <button type="button" id="transcribe-button" class="button-style">Press and Hold to Speak</button> <!-- Button for voice transcription -->
            <input type="submit" value="Place Order">
            <div id="response"></div>
        </form>

        <h2>Drinks Menu</h2> <!-- Drinks menu heading -->
        <div id="drinks-menu">
            {% for drink in drinks_menu %} <!-- Loop through drinks menu items -->
                <div class="drink-item">
                    <h3>{{ drink.name }}</h3>
                    <ul>
                        {% for size in drink.sizes %} <!-- Loop through drink sizes -->
                            <li>{{ size.size }} - £{{ size.price }}</li>
                        {% endfor %} <!-- End loop for drink sizes -->
                    </ul> <!-- End list for drink sizes and prices -->
                </div> <!-- End container for each drink item -->
            {% endfor %} <!-- End loop for drinks menu items -->
        </div> <!-- End container for drinks menu -->
    </div> <!-- End container for centering content -->
</body>
</html>
